@import "tailwindcss";

@utility bg-primary-gradient {
  background-image: linear-gradient(to bottom, #A6FF28, #95FF00)
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: black;
  color: white;
  letter-spacing: -7%;
  box-sizing: border-box;
}